<br>
<%= form_with model: @ticket, url: { action: "update" } do |form| %>
  <div>
    <%= form.text_field(:name, class: 'ticket-input-field', placeholder: 'Name') %>
  </div>
  <div>
    <%= form.text_area(:description, class: 'ticket-input-field ticket-input-description-field', placeholder: 'Description') %>
  </div>
  <div>
    <%= form.select :priority, Ticket::CONST::PRIORITIES.invert.to_a %>
  </div>
  <div>
    <%= form.select :status, Ticket::CONST::STATUSES.invert.to_a %>
  </div>
  <%= form.hidden_field :project_id, value: @ticket.project_id %>
  <div>
    <%= form.submit(:'Update Ticket', class: 'ticket-update-button') %>
  </div>
<% end %>
