<table class="content-table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.name %></td>
    </tr>
    <tr>
      <td><%= @ticket.description %></td>
    </tr>
    <tr>
      <td><%= @ticket.priority_label %></td>
    </tr>
    <tr>
      <td><%= @ticket.status_label %></td>
    </tr>
    <tr>
      <td><%= @ticket.done %></td>
    </tr>
    <tr>
      <td><%= link_to('edit', edit_project_ticket_path(@ticket.project, @ticket)) %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', project_path(@ticket.project) %>
