<table class="content-table">
  <h3><%= @project.name %> tickets</h3>
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to(ticket.name, project_ticket_path(@project, ticket)) %></td>
        <td><%= ticket.priority_label %></td>
        <td><%= ticket.status_label %></td>
        <td><%= link_to('edit', edit_project_ticket_path(@project, ticket)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'Create new ticket', new_project_ticket_path(@project) %>
</div>
